@import 'tailwindcss';

@theme inline {
  --color-black: #000000;
  --color-white: #ffffff;
  --font-sans: var(--font-geist-sans);
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .page-px {
    @apply px-10;
  }
}
